<!-- 
hylowiki
GA WDI Project 1
Author: Michael N. Rubinstein
 -->

<!doctype html>
<html lang="en">
<head>
	<title>HyloWiki</title>
    <link 
        rel="stylesheet"
        type="text/css"
        href="/public/semantic_ui/css/semantic.min.css">
</head>
<body>
    <div class="ui menu">
        <a class="active item" href="/">
            <i class="home icon"></i> Home
        </a>
        <% if active_user %>
            <a class="item" href="/pages/new">
                <i class="edit icon"></i> Create New Article
            </a>
            <div class="text item">
                <i class="user icon"></i> (Logged in as <%= active_user.username %>)
            </div>
            <a class="item" href="/logout">
                <i class="sign out icon"></i> Logout
            </a>
        <% else %>
            <div class="item">
            <form action="/login" method="POST">
                <div class="ui form">
                    <div class="inline fields">
                        <div class="inline field">
                            <label>Login or register:</label>
                            <div class="ui mini icon input">
                                <input type="text" name="username" placeholder="Username" />
                                <i class="user icon"></i>
                            </div>
                        </div>
                        <div class="inline field">
                            <div class="ui mini icon input">
                                <input type="password" name="password" placeholder="Password" />
                                <i class="lock icon"></i>
                            </div>
                        </div>
                        <div class="inline field">
                            <input type="submit" value="Login" class="ui mini blue submit button"></input>
                        </div>
                    </div>
                </div>
            </form>
            </div>
        <% end %>
        <div class="right menu">
            <div class="item">
                <div class="ui icon input">
                    <input type="text" placeholder="Search...">
                    <i class="search link icon"></i>
                </div>
            </div>
        </div>
    </div>
    <h1 class="ui purple header">
        hylowiki
        <div class="sub header">The Wiki of the Material Universe.</div>
    </h1>
    <h4 class="ui black block header">
        Contents
    </h4>
    <div class="ui two column grid">
        <div class="twelve wide column">
            <div class="ui divided list">
            <% page_titles.each do |page| %>
                <div class="item">
                    <% if active_user %>
                        <a href="/pages/edit?id=<%=page.id%>"><i class="edit link icon"></i></a>
                    <% else %>
                        <i class="text file icon"></i>
                    <% end %>
                    <div class="content">
                        <a class="header" href="/pages/show?id=<%=page.id%>"><%= page.title %></a>
                    </div>
                </div>
            <% end %>
            </div>
        </div>
        <div class="four wide column">
            <div class="ui secondary segment">
                <p>Currently registered users:</p>
                <div class="ui list">
                    <% users.each do |u| %>
                        <div class="item">
                            <i class="user icon"></i>
                            <%= u.username %>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
