<!-- 
hylowiki
GA WDI Project 1
Author: Michael N. Rubinstein
 -->

<!doctype html>
<html lang="en">
<head>
	<title>HyloWiki</title>
    <link 
        rel="stylesheet"
        type="text/css"
        href="/public/semantic_ui/css/semantic.min.css">
</head>
<body>
    <div class="ui menu">
        <a class="active item" href="/">
            <i class="home icon"></i> Home
        </a>
        <% if active_user %>
            <div class="text item">
                <i class="user icon"></i> (Logged in as <%= active_user.username %>)
            </div>
            <a class="item" href="/logout">
                <i class="sign out icon"></i> Logout
            </a>
        <% end %>
        <div class="right menu">
            <div class="item">
                <div class="ui icon input">
                    <input type="text" placeholder="Search...">
                    <i class="search link icon"></i>
                </div>
            </div>
        </div>
    </div>
    <h1 class="ui purple header">
        hylowiki
        <div class="sub header">The Wiki of the Material Universe.</div>
    </h1>
    <h4 class="ui black block header">
        <%= page.title %>
    </h4>
    <div class="ui primary segment">
    	<p><%= markdown.render(page.processed_body(page_titles)) %></p>
    </div>
    <div class="ui secondary segment">
    	<p>Edit by
    		<%= page.author.username %>
    		at 
    		<%= Time.at(page.time_stamp).strftime("%T%p on %m/%d/%Y") %>.</p>
    </div>
    <div class="ui secondary segment">
    	<% if current %>
    		<p>This page is the most current version.</p>
    	<% end %>
    	<p>Page History:</p>
	    <div class="ui list">
	    	<% history.each do |p| %>
                <div class="item">
    	    		<a href="/pages/show?id=<%=p.id%>">
    	    			<%= Time.at(p.time_stamp).strftime("%T%p on %m/%d/%Y ") %>
    	    			by <%= p.author.username %>
    	    		</a>
                    <% if active_user %>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="/pages/delete?id=<%=p.id%>">(Delete)</a>
                    <% end %>
                </div>
	    	<% end %>
	    </div>
    </div>
</body>
</html>
